<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MTS.ICLViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MTS.ICLViewer.Properties.Settings>
            <setting name="color01" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="color10" serializeAs="String">
                <value>Firebrick</value>
            </setting>
            <setting name="color20" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="color25" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="showItemNumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClosePrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frontAndBack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="color61" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="color50" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="color52" serializeAs="String">
                <value>Teal</value>
            </setting>
        </MTS.ICLViewer.Properties.Settings>
    </userSettings>
</configuration>